.App {
  text-align: center;
  background-color: #f4f4f4;
  color: #1E1E1E;
}

.quick-reference-container {
  width: 21cm; 
  height: 29.7cm;
  margin: 10mm;
  padding: 10mm;
  display: grid;
  /* font-family: sans-serif; */
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 390px 30px 90px 250px 150px 185px;
  font-size: 12px;
}
.quick-ref-section-container {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #1E1E1E;
  border-radius: 5px;
  grid-column: 1/3;
  display:grid;
  grid-template-columns: 50% 50%;
}
.quick-ref-section-spawning {
  grid-template-rows: 20px 40px;
}
.quick-ref-section-movement {
  grid-template-rows: 30px 20px 170px;;
}
.quick-ref-section-shooting {
  grid-template-rows: 30px 90px;
}
.quick-ref-section-charge{
  grid-template-rows: 30px 130px;
}
.quick-ref-header {
    clear: both;
    grid-column: 1/3;
    margin-bottom: 5px;
    font-size: 20px;
}
.quick-ref-subheader {
  font-size: 18px;
}
.quick-ref-assault > .quick-ref-subheader{
  /* background: #e18a07; */
  margin: 2px;
  padding-top: 2px;
  align-self: center;
}
.quick-ref-shooting > .quick-ref-subheader{
  /* background: #1e75f8; */
  margin: 2px;
  padding-top: 2px;
  align-self: center;
}
.quick-ref-parallel {
  display: grid;
  grid-template-rows: 25px;
  border:2px solid #1E1E1E;
}
.quick-ref-text {
  text-align: justify;
  align-self: baseline;
  padding: 10px;
}
.quick-ref-info-text {
  color: red;
  font-size: 13px;
}
.quick-ref-assault {
  margin: 0 3px 0 3px;
}
.quick-ref-shooting {
  margin: 0 3px 0 3px;
}
.quick-ref-span-text {
  grid-column: 1/3;
}

.toolbar-icon {
  padding: 7px;
  position: absolute;
  top: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

table {
  font-size: 14px;
  -webkit-border-horizontal-spacing: 30px;
  -webkit-border-vertical-spacing: 10px;
  border-collapse: collapse;
  border-top: 1px solid #1E1E1E;
}
table > caption {
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
}
thead > tr {
  background: lightgrey;
}
th {
  padding: 4px 5px;
}
td {
  padding: 3px 5px;
}

tr > td:first-child {
  font-weight: bold;
  font-style: italic;
}

.quick-ref-table-container {
  grid-column: 1;
  border-right: 1px solid;
  height: 370px;
  text-align: left;
} 

.quick-ref-ul {
  float: left;
  font-weight: bold;
  padding-right: 5px;
}

.quick-ref-enemies-container {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #1E1E1E;
  border-radius: 5px;
  overflow: hidden;
}

.enemies-table {
  width: 780px;
  text-align: left;
  table-layout: fixed;
  font-size: 12px;
  -webkit-border-horizontal-spacing: 15px;
  -webkit-border-vertical-spacing: 5px;
}
.enemies-table > * {
  vertical-align: top;
  font-size: 12px;
}
.enemies-table > caption {
  font-size: 15px;
  padding-left: 15px;
}

.enemy-type {
  position: absolute;
  left: 800px;
  font-size: 14px;
  font-weight: bold;
}

.container-header {
  float: left;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0px 5px 5px;
  width: calc(100% - 4px);
  background: darkgrey;
}
.split-div {
  float: left;
  clear: both;
  display: grid;
  padding: 5px;
  grid-template-columns: 185px auto;
  width: 100%;
  text-align: left
}
.split-div-header{
  font-weight: bold;
  grid-column: 1;
}
.split-div-text{
  grid-column: 2;
}

.keywords-container {
  float: left;
  clear: both; 
  padding: 5px;
  background: lightgrey;
  width: calc(100% - 10px);
  border-top: 1px solid #1E1E1E;
}

.keywords-text {
  clear: both;
  text-align: left;
  padding: 5px 5px 0px 5px;
}

.landing-page-column-icon {
  width: 264px;
  height: 422px;
  cursor: pointer
}

.a4-container {
  width: 21cm;
  height: 29.7cm;
  margin: 10mm;
  padding: 10mm;
  font-family: sans-serif; 
  font-size: 12px;
}

.pdf-container {
  width: 21cm;
  height: 29.7cm;
  margin: 10mm;
  padding: 10mm;
  font-family: sans-serif; 
  font-size: 12px;
  position: absolute;
  top: -10000px;
}

.pdf-generator {
  padding-left: 65px;
}

.roster-sheet-footer {
  text-align: center;
  bottom: 80px;
  font-size: 16px;
  width: 21cm;
  padding-top: 25px;
}
.roster-sheet-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  grid-column: 1/3;
}

.code-mirror-container{
  width: 21cm;
  height: 29.7cm;
  margin: 10mm 0mm;
  padding: 10mm;
  font-family: sans-serif; 
  font-size: 12px;
  float:left;
}
.code-mirror-title{
 font-weight: bold;
  font-size: 25px;
  padding-bottom: 5px;
}
.code-mirror-editor{
  width: 21cm;
  height: 29.7cm;
}
.CodeMirror {
  height: 100% !important;
}
.CodeMirror pre {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}